<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <img id="logo" src="assets/img/LOGO.png" alt="">
      </div>
      <div class="col-md-9">
        <div class="nav nav-tabs pull-right">
          <ul class="nav">
            <li><a routerLinkActive="active" routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLinkActive="active" routerLink="/trainings">Trainings</a></li>
            <li><a routerLinkActive="active" routerLink="/new">Create new training</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
